.portfolio {

    .btns-container {
        display        : flex;
        flex-wrap      : wrap;
        align-items    : center;
        justify-content: center;
        padding        : 2rem 0;
    }

    .work-container {
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-wrap      : wrap;
        gap            : 2.5rem;
        padding        : .5rem 0;

        .image {
            height                 : 30rem;
            width                  : 40rem;
            overflow               : hidden;
            border-top-left-radius : .8rem;
            border-top-right-radius: .8rem;
            box-shadow             : var(--boxShadow);

            &:hover img {
                transform: translateY(-80%);
            }

            img {
                width     : 100%;
                transition: 5s ease;
            }

            .browser {
                position        : sticky;
                z-index         : 2;
                height          : 2rem;
                background-color: #ddd;
                display         : flex;
                align-items     : center;
                justify-content : flex-end;

                .dot {
                    height          : 0.5rem;
                    width           : 0.5rem;
                    border-radius   : 50%;
                    background-color: #222;
                    margin-right    : 0.6rem;
                }
            }
        }
    }
}