.about {

    .row {
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-wrap      : wrap;
        padding        : 1rem 0;

        .info {
            flex        : 1 1 48rem;
            padding     : 2rem 1rem;
            padding-left: 6rem;

            h3 {
                font-size  : 2rem;
                color      : var(--yellow);
                padding    : 1rem 0;
                font-weight: normal;

                span {
                    color  : var(--white);
                    padding: 0 .5rem;
                }
            }

            .btn {
                display   : inline-block;
                margin-top: 1.5rem;
            }
        }

        .counter {
            flex           : 1 1 48rem;
            display        : flex;
            justify-content: center;
            flex-wrap      : wrap;

            .box {
                width     : 20rem;
                height    : 15rem;
                background: var(--leftSide);
                color     : var(--white);
                text-align: center;
                padding   : 2rem;
                margin    : 2rem;
                cursor    : pointer;
                border    : .2px dashed transparent;

                &:hover {
                    border: .2px dashed var(--yellow);
                }

                span {
                    font-size: 4rem;
                    color    : var(--yellow);
                }

                h3 {
                    font-size: 2rem;
                }
            }

            .award {
                position: relative;

                &:hover {

                    color: tomato !important;

                    span {
                        color: tomato !important;
                    }

                    .hoverImage {
                        transform: translate(-50%, -50%) scale(1);
                        opacity  : 1;
                    }
                }

                .hoverImage {
                    box-shadow    : var(--boxShadow);
                    position      : absolute;
                    top           : 50%;
                    left          : 50%;
                    transform     : translate(-50%, -50%) scale(.5);
                    height        : 220%;
                    opacity       : 0;
                    transition    : 2s ease-in-out;
                    pointer-events: none;
                }
            }
        }
    }
}