/* ======================== */
/* Header selection | Start */
/* ======================== */
header {
    position       : fixed;
    top            : 0;
    left           : 0;
    z-index        : 1000;
    height         : 100%;
    width          : 35rem;
    background     : var(--leftSide);
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-flow      : column;
    text-align     : center;

    .user {
        img {
            height       : 17rem;
            width        : 17rem;
            border-radius: 50%;
            object-fit   : cover;
            margin-bottom: 1rem;
            border       : .3rem solid var(--yellow);
        }

        .name {
            font-size: 3.5rem;
            color    : var(--white);
        }

        .post {
            font-size     : 2rem;
            color         : var(--white);
            text-transform: capitalize;
        }
    }

    .navbar {
        width: 100%;

        ul {
            padding: 1rem 3rem;

            li a {
                display      : block;
                padding      : 1rem;
                margin       : 1.5rem 0;
                background   : var(--rightSide);
                color        : var(--white);
                font-size    : 2rem;
                border-radius: .8rem;

                &.active,
                &:hover {
                    background: var(--yellow);
                    color     : var(--education);
                }
            }
        }
    }
}

/* ======================== */
/* Header selection | End   */
/* ======================== */