/* ======================== */
/* Home selection | Start   */
/* ======================== */
.home {
    display        : flex;
    justify-content: center;
    flex-flow      : column;
    padding        : 0 15rem;

    h3 {
        text-transform: none;
        font-size     : 2.5rem;
        color         : var(--white);
    }

    h1 {
        font-size: 5rem;
        color    : var(--white);

        .auto-input {
            color: var(--yellow);
        }
    }

    .myQuotes {
        font-size   : 2.5rem;
        color       : red;
        padding     : 1rem 0;
        text-align  : justify;
        // text-justify: inter-word;

        .salam {
            color: var(--yellow);
        }

        .mySpeech {
            text-transform: none;
            color         : var(--white);

        }
    }
}

/* ======================== */
/* Home selection | End     */
/* ======================== */